In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import joblib

In [2]:
df = pd.read_csv('./dataset/Fruit_Dataset_2.csv')
df.sample(7)

,Month,Centername,Ber,Kinnow,Lime,Mandarin,Mosambi,Grape_t_seedless,Guava,Litchi,...,Mango_totapari,Parkleman,Aonla,Apple_del_jk,Apple_royal_del_hp,Papaya,Pineapple,Pomegranate,Sapota,Banana
55,April,Hyderabad,0,0,2800,4000,2500,2000,3300,0,...,0,0,0,0,5000,1400,1500,2500,2000,2100
176,December,Jammu,0,3000,2500,4500,4400,0,0,0,...,0,0,0,6000,0,3200,4500,11500,0,2800
86,July,Bangaluru,0,0,2400,6000,6500,0,5500,0,...,1500,0,5500,14000,0,1600,3000,11000,3500,1200
60,April,Nagpur,0,0,2250,0,3500,5500,0,0,...,0,0,0,5000,0,0,3500,9000,0,1250
34,March,Chandigarh,2300,2030,5200,3700,0,6000,0,0,...,0,0,0,6700,0,1700,2280,6700,0,2030
150,October,Srinagar,0,0,5500,7500,0,0,0,0,...,0,0,0,6700,0,4200,4700,10200,0,4800
172,December,Chandigarh,0,2000,2600,2760,0,0,0,0,...,0,0,0,5700,0,1900,2400,5700,0,2000

In [3]:
# Group the data by Centername and months and take the mean of the fruit prices for each group
df_grouped = df.groupby(['Centername', 'Month']).mean().reset_index()
df_grouped.tail(13)

,Centername,Month,Ber,Kinnow,Lime,Mandarin,Mosambi,Grape_t_seedless,Guava,Litchi,...,Mango_totapari,Parkleman,Aonla,Apple_del_jk,Apple_royal_del_hp,Papaya,Pineapple,Pomegranate,Sapota,Banana
175,Trivendrum,June,0.0,0.0,5000.0,0.0,0.0,0.0,4600.0,0.0,...,2300.0,0.0,4500.0,0.0,0.0,2600.0,2800.0,10500.0,4000.0,2700.0
176,Trivendrum,March,0.0,4500.0,7500.0,7000.0,6000.0,7500.0,4500.0,0.0,...,0.0,0.0,5000.0,0.0,0.0,2400.0,3200.0,15000.0,2700.0,2500.0
177,Trivendrum,November,0.0,0.0,5500.0,3300.0,4400.0,0.0,4000.0,0.0,...,0.0,0.0,4500.0,7500.0,10500.0,1800.0,2800.0,13000.0,3600.0,3500.0
178,Trivendrum,October,0.0,0.0,8000.0,5000.0,3600.0,0.0,2500.0,0.0,...,0.0,0.0,5000.0,0.0,9000.0,1800.0,3700.0,11500.0,4000.0,4000.0
179,Trivendrum,September,0.0,0.0,8000.0,5000.0,3600.0,0.0,2500.0,0.0,...,0.0,0.0,5000.0,0.0,9000.0,1800.0,3700.0,11500.0,4000.0,4000.0
180,Varanasi,August,0.0,0.0,2500.0,0.0,2800.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7000.0,2000.0,2500.0,4300.0,0.0,1900.0
181,Varanasi,December,0.0,4200.0,3000.0,3800.0,3100.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6300.0,6000.0,1900.0,2900.0,6000.0,0.0,2200.0
182,Varanasi,February,0.0,0.0,2800.0,3500.0,3600.0,6300.0,0.0,0.0,...,0.0,0.0,0.0,9000.0,0.0,2100.0,2800.0,9000.0,0.0,1000.0
183,Varanasi,January,0.0,2100.0,3500.0,3300.0,3500.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6500.0,0.0,1200.0,0.0,6000.0,0.0,1200.0
184,Varanasi,March,0.0,3000.0,2500.0,5500.0,2500.0,3800.0,0.0,0.0,...,0.0,0.0,0.0,10000.0,0.0,2200.0,0.0,9000.0,0.0,2200.0
185,Varanasi,November,0.0,0.0,3200.0,5500.0,4200.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6500.0,6200.0,1900.0,3300.0,6500.0,0.0,2100.0
186,Varanasi,October,0.0,0.0,3300.0,0.0,2350.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5600.0,2100.0,2300.0,5000.0,0.0,1800.0
187,Varanasi,September,0.0,0.0,3300.0,0.0,2350.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5600.0,2100.0,2300.0,5000.0,0.0,1800.0

In [4]:
X = df_grouped.iloc[:, [0, 1]]
y = df_grouped.drop(['Centername', 'Month'], axis=1)

In [5]:
# One-hot encode the categorical variables
X_encoded = pd.get_dummies(X, columns=['Centername', 'Month'])

In [6]:
X

    Centername      Month
0    Ahmedabad    January
1    Ahmedabad      March
2    Bangaluru      April
3    Bangaluru     August
4    Bangaluru   December
..         ...        ...
183   Varanasi    January
184   Varanasi      March
185   Varanasi   November
186   Varanasi    October
187   Varanasi  September

[188 rows x 2 columns]

In [7]:
X_encoded

,Centername_Ahmedabad,Centername_Bangaluru,Centername_Bhopal,Centername_Chandigarh,Centername_Chennai,Centername_Dehradun,Centername_Delhi,Centername_Hyderabad,Centername_Jammu,Centername_Kolkata,...,Month_December,Month_February,Month_January,Month_July,Month_June,Month_March,Month_May,Month_November,Month_October,Month_September
0,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
184,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
186,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
187,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [8]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [9]:
y_train

,Ber,Kinnow,Lime,Mandarin,Mosambi,Grape_t_seedless,Guava,Litchi,Bennet,Gulabkhas,...,Mango_totapari,Parkleman,Aonla,Apple_del_jk,Apple_royal_del_hp,Papaya,Pineapple,Pomegranate,Sapota,Banana
35,0.0,0.0,2400.0,0.0,2250.0,0.0,1100.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3400.0,0.0,0.0,0.0,4200.0,0.0,1250.0
98,1350.0,3000.0,2800.0,4750.0,5000.0,5000.0,3250.0,0.0,0.0,0.0,...,4500.0,0.0,3000.0,0.0,0.0,1300.0,3250.0,12000.0,3000.0,2600.0
104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4750.0,5500.0,3500.0,800.0
75,3200.0,2700.0,3625.0,2400.0,5250.0,9900.0,6400.0,0.0,0.0,0.0,...,0.0,0.0,4000.0,7750.0,9250.0,3200.0,1950.0,13500.0,5250.0,1675.0
93,0.0,0.0,900.0,4250.0,3400.0,0.0,2900.0,0.0,0.0,0.0,...,0.0,0.0,2800.0,6300.0,0.0,2200.0,3050.0,6850.0,3100.0,2250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,0.0,0.0,1250.0,0.0,5000.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4000.0,5000.0,0.0,900.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92,0.0,0.0,3000.0,6750.0,6000.0,5250.0,3000.0,0.0,0.0,0.0,...,4000.0,0.0,0.0,0.0,0.0,1500.0,3500.0,9500.0,2500.0,2600.0
179,0.0,0.0,8000.0,5000.0,3600.0,0.0,2500.0,0.0,0.0,0.0,...,0.0,0.0,5000.0,0.0,9000.0,1800.0,3700.0,11500.0,4000.0,4000.0
102,0.0,0.0,2800.0,5000.0,3500.0,0.0,3250.0,0.0,0.0,0.0,...,0.0,0.0,3800.0,7000.0,0.0,2500.0,3000.0,8000.0,3300.0,2400.0

In [10]:
# Create a random forest regressor model
rf = RandomForestRegressor(n_estimators=200, random_state=42)
rf.fit(X_train, y_train)

y_pred = rf.predict(X_test)
y_pred

# Evaluate the performance of the model on the test data using R-squared
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)

R-squared: 0.31681967641189346

In [11]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
knn = KNeighborsRegressor(n_neighbors=5)

# Fit the model to the training data
knn.fit(X_train, y_train)

# Make predictions on the testing data
y_pred2 = knn.predict(X_test)
 

# Evaluate the model performance using Root Mean Squared Error (RMSE)
rmse = mean_squared_error(y_test, y_pred2, squared=False)
print("RMSE:", rmse)

r2 = r2_score(y_test, y_pred2)
print("R-squared:", r2)

RMSE: 1545.291684767054
R-squared: 0.21103965891219933

In [12]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

# Fit the model to the training data
lr.fit(X_train, y_train)

# Make predictions on the testing data
y_pred3 = lr.predict(X_test)

# Evaluate the model performance using Root Mean Squared Error (RMSE)
rmse = mean_squared_error(y_test, y_pred3, squared=False)
print("RMSE:", rmse)

r2 = r2_score(y_test, y_pred3)
print("R-squared:", r2)

RMSE: 1243.6585260795202
R-squared: 0.4186847327303955

In [13]:
# Save the trained model using joblib
#joblib.dump(rf, 'fruit_price_model.joblib')

In [14]:
# Load the saved model
rf_loaded = joblib.load('fruit_price_model.joblib')

c:\Users\Omkar Khade\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator DecisionTreeRegressor from version 1.2.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
c:\Users\Omkar Khade\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:288: UserWarning: Trying to unpickle estimator RandomForestRegressor from version 1.2.2 when using version 1.2.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [15]:
import numpy as np
import pandas as pd

# Create the sample input
sample_input = np.array([["April", "Bhopal"]])

# Make a prediction using the trained model
prediction = lr.predict(sample_input)

# Get the column names of the fruit prices
fruit_columns = df.columns[2:]

# Create a dictionary to store the predicted prices for each fruit
results = {}
for i, fruit in enumerate(fruit_columns):
    results[fruit] = prediction[:, i]

# Convert the dictionary to a pandas DataFrame
results_df = pd.DataFrame(results)

# Sort the DataFrame by the predicted prices
results_df = results_df.transpose().reset_index()
results_df.columns = ['Fruit', 'Price']
results_df = results_df.sort_values(by=['Price'], ascending=False)

# Print the results in descending order
print("Predicted prices in descending order:")
print(results_df)

c:\Users\Omkar Khade\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

ValueError: dtype='numeric' is not compatible with arrays of bytes/strings.Convert your data to numeric values explicitly instead.